{% extends "family_recipes_app/base_template.html" %}

{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1>Kennedy Family Recipes</h1>
        <p>This site describes our favorite family recipes!</p>
      </div>
    </div> <!-- /container -->

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2>Breakfast Recipes</h2>
          <img class="img-responsive" img src="../../static/family_recipes_app/images/IMG_6272.JPG" class="img-rounded" alt="Cinque Terre">
          <p>From pancakes to homemade granola, these are the breakfast recipes that our family enjoys! </p>
          <p><a class="btn btn-default" href="recipes/breakfast" role="button">Breakfast Recipes &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h2>Lunch Recipes</h2>
          <img class="img-responsive" img src="../../static/family_recipes_app/images/IMG_1204.JPG" class="img-rounded" alt="Cinque Terre">
          <p>From turkey sandwiches to our favorite garden salads, these are the lunch recipes that our family enjoys! </p>
          <p><a class="btn btn-default" href="recipes/lunch" role="button">Lunch Recipes &raquo;</a></p>
       </div>
        <div class="col-md-3">
          <h2>Dinner Recipes</h2>
          <img class="img-responsive" img src="../../static/family_recipes_app/images/IMG_6128.JPG" class="img-rounded" alt="Cinque Terre">
          <p>From chicken fajitas to our world-famous tacos (!!!), these are the dinner recipes that our family enjoys! </p>
          <p><a class="btn btn-default" href="recipes/dinner" role="button">Dinner Recipes &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h2>Dessert Recipes</h2>
          <img class="img-responsive" img src="../../static/family_recipes_app/images/IMG_6753.JPG" class="img-rounded" alt="Cinque Terre">
          <p>From cookies to cupcakes, these are the dessert recipes that our family enjoys! </p>
          <p><a class="btn btn-default" href="recipes/dessert" role="button">Dessert Recipes &raquo;</a></p>
        </div>
      </div>
    </div> <!-- /container -->
{% endblock %}
